.ApImg{
    background-image: url(../../../assets/images/bg.png);
    width: 1450px;
    height: 450px;
    background-size: cover; 
    border-radius: 25px;
}

@media only screen and (max-width: 526px) {
    .bgImg{
        background-image:none;
    }
}